{% extends "base.html.twig" %}

{%  block title %}BRAVO NIELS{%  endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <table>
        {% for prenom in listeprenoms %}
        <tr>
            <td>
                {{ prenom['prenom'] }}
                {% if prenom['prenom'] == 'Bob' %}
                    LOLOLOLOLOL
                {%  endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ toto }}
{% endblock %}
